.title {
  margin-top: 60px;
  font-size: 20px;
}

.pay_choose_content {
  margin-top: 20px;
}

.pay_choose_content .pay_icon {
  width: 30px;
  vertical-align: middle;
  margin-right: 12px;
}

.pay_choose_content .recommend_icon {
  margin-left: 20px;
}

.submit_btn {
  margin-top: 100px;
}

