.add_bank_card {
  margin-top: 20px;
  margin-right: 29px;
}

.add_bank_card .add_bank_card_icon {
  width: 15px;
  vertical-align: middle;
  margin-right: 6.5px;
}

.add_bank_card span {
  vertical-align: middle;
  font-size: 15px;
  color: #333333;
}

.bank_content {
  margin-top: 9.5px;
  //padding: 9.5px 29px 16.5px 29px;
}
.card {
  margin: 0 auto 23px;
  height: 145px;
  width: 317px;
  background-image: linear-gradient(0deg,
    #ff4646 0%,
    #ff5e44 100%),
  linear-gradient(
      #c4c4c4,
      #c4c4c4);
  background-blend-mode: normal,
  normal;
  box-shadow: 0 3.5px 10.5px 0
  rgba(229, 39, 31, 0.33),
  inset 0 4.5px 27px 0
  rgba(255, 255, 255, 0.18);
  border-radius: 30px;
}

.card .card_number {
  padding-top: 33px;
  padding-left: 25px;
  color: #fff;
}

.card .card_number .bank_title {
  font-size: 15px;
}

.card .card_number .bank_id {
  //margin-top: 25px;
  font-size: 24px;
  line-height: 62.5px;
  //letter-spacing: 0.95px;
}

//.card_number .txt0 {
//  float: right;
//  font-size: 16px;
//}
//
//.card_number img {
//  float: left;
//  width: 63px;
//  height: 63px;
//}

.card_number span {
  font-size: 11px;
}

.card .bottom {
  margin-top: 30px;
}

.card .serial_number {
  color: #fff;
  padding-left: 25px;
  font-size: 20px;
}

.card .delete_card {
  font-size: 12px;
  float: right;
  margin-right: 23px;
  color: #ffffff;
  opacity: 0.6;
}

.change_card {
  margin-top: 5px;
  margin-bottom: 15px;
}

.change_card span {
  font-size: 12px;
  vertical-align: middle;
  color: #666666;
  opacity: 0.6;
}

.change_card .change_card_img {
  width: 10px;
  vertical-align: middle;
  margin-right: 4.5px;
}

.divide {
  height: 10px;
  background-color: #bfbfbf;
  opacity: 0.17;
}

.confirmBtn {
  background-image: linear-gradient(90deg,
    #ff4646 0%,
    #ff6c39 100%),
  linear-gradient(
      #ff5f45,
      #ff5f45);
  border-radius: 21.5px;
  width: 270px;
  height: 43px;
  font-size: 18px;
  color: #ffffff;
}

.submit_btn {
  margin-top: 73px;
}
