body {
  font-size: 14px;
  background-color: white;
  max-width: 375px;
}
.text_align_center {
  text-align: center;
}

.fail_toast {
  width: 60% !important;
}

.btn button {
  letter-spacing: 4px;
  padding: 0 26px;
}